<connectionStrings>
  <add name="eRestaurantDB"
       connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=true"
       providerName="System.Data.SqlClient"/>

  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-eRestaurantWeb-60c95367-b9e0-4caa-8e66-28c7e16139f3;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWeb-60c95367-b9e0-4caa-8e66-28c7e16139f3.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
</connectionStrings>
